@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Escuela particular "Nueva Humanidad"</h1>
    <p>Desarrollado por: <a href="https://docs.microsoft.com/aspnet/core"> Ing. Richard Moreira con ASP.NET Core</a>.</p>
</div>
