@{
    ViewData["Title"] = "U.E Nueva Humanidad";
}

<!-- Masthead-Cabecera -->
<div class="masthead text-white text-center z" style="margin-top: 25px;">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-9 mx-auto" style="z-index:0!important;">
                <h1 class="mb-5">Escuela de Educación Básica </h1>
                <h1 class="mb-5">Particular</h1>
                <h1 class="mb-5">Nueva Humanidad </h1>
            </div>
        </div>
    </div>
</div>


<!-- Image Showcases-Imagenes -->
<section class="showcase">
    <div class="container-fluid p-0">
        
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/images/nh/nhview.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Institución</h2>
                <p class="lead mb-0">Instalaciones</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class=" col-lg-6 text-white showcase-img" style="background-image: url('/images/nh/costo.jpg');"></div>
            <div class=" col-lg-6 my-auto showcase-text">
                <h2>Institución</h2>
                <p class="lead mb-0">Matrículas $25</p>
                <p class="lead mb-0">Pensiones $25</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/images/nh/jornadas.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Jornadas Matutina-Vespertina </h2>
                <p class="lead mb-0">Complementaria</p>
                <p class="lead mb-0">Media</p>
                <p class="lead mb-0">Elemental</p>
                <p class="lead mb-0">Superior</p>
            </div>
        </div>
    </div>
</section>

<!-- Autoridades -->
<section class="autoridades text-center bg-light">
    <div class="container-fluid">
        <h2 class="mb-5">U.E Nueva Humanidad </h2>
        <div class="row">
            <div class="col-lg-4" style="z-index:0 !important;">
                <div class="autoridades-item mx-auto mb-5 mb-lg-0"  style="z-index:0 !important;">
                    <img    class="img-fluid rounded-circle mb-3" src="/images/docentes/secretaria.jpg" alt="">
                    <h5  >Secretaria</h5>
                    <p class="font-weight-light mb-0">"Nombre de la Secretaria de la institución"</p>
                </div>
            </div>
            <div class="col-lg-4" style="z-index:0 !important;">
                <div class="autoridades-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="/images/docentes/director.jpg" alt="">
                    <h5>Director</h5>
                    <p class="font-weight-light mb-0">"Lic.Leonardo Ventura"</p>
                </div>
            </div>
            <div class="col-lg-4" style="z-index:0 !important;">
                <div class="autoridades-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="/images/docentes/map.png" alt="">
                    <h5>Dirección del establecimiento</h5>
                    <p class="font-weight-light mb-0">"Google Maps"</p>
                </div>
            </div>
        </div>
    </div>
</section>
