
div.masthead {
    position: static;
    background-color: #343a40;
    background: url("../images/nh/nhbanner1.jpg") no-repeat center center;
    background-size: cover;
  
 
}

div.masthead .overlay {

  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

    div.masthead h1 {
        background: no-repeat;
        font-size: 2rem;
    }

@media (min-width: 768px) {
    div.masthead {
        padding-top: 11rem;
        padding-bottom: 11rem;
    }
        div.masthead h1 {
            font-size: 3rem;
        }
}

.showcase .showcase-text {
    padding: 3rem;
    z-index: 0 !important;
}

.showcase .showcase-img {
    min-height: 27.8rem;
    background-size: cover;
    z-index: 0 !important;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.autoridades {
    padding-top: 7rem;
    padding-bottom: 7rem;
    z-index: 0 !important;
}

    .autoridades .autoridades-item {
        max-width: 18rem;
        z-index: 0 !important;
    }

        .autoridades .autoridades-item img {
            max-width: 12rem;
            box-shadow: 0px 5px 5px 0px #adb5bd;
            z-index: 0 !important;
        }



.call-to-action {
    z-index: 2 !important;
    background-color: #343a40;
    background: url("../images/nh/nhbanner1.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

    .call-to-action .overlay {
        z-index: 2 !important;
        background-color: #212529;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.3;
    }

footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    z-index: 5 !important;
}
